.App {
  text-align: center;
}

#thermostat {
  height: 50px;
  width: 75%;
  margin: auto;
  border: 1px solid black;
}

#temperature {
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
